# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# Scrapy logs and output
.scrapy/
*.log
*.db

# OS-specific files
.DS_Store
Thumbs.db

